@import "../shared/shared";

:host {
  @include centered();
  position: absolute;
  z-index: 6;
  top: toRem(56 + 12);
  width: 100%;
  left: 0;
  right: 0;

  @media screen and (min-width: $lg) {
    top: toRem(72 + 16);
  }
}

.suggestion-list {
  @include column-flex();
  list-style: none;
  width: 100%;
  background-color: var(--main-color);
  border-radius: toRem(8);
  box-shadow: toRem(0) toRem(4) toRem(14) toRem(0) #00000026;
  overflow: hidden;
  flex-shrink: 0;

  @media screen and (min-width: $lg) {
    width: toRem(496);
    border-radius: toRem(16);
  }
}

.suggestion-list__item {
  @include display-flex();
  gap: toRem(8);
  border-bottom: 1px solid #b8b8b8;
  padding: toRem(12) toRem(18);

  @media screen and (min-width: $two-xl) {
    gap: toRem(18);
    padding: toRem(12) toRem(28);
  }

  &.title {
    font-size: toRem(18);
    font-weight: 500;
    line-height: toRem(18);
    padding: toRem(12) toRem(24);
    color: #333333;

    @media screen and (min-width: $md) {
      padding: toRem(20) toRem(24);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(22);
      line-height: toRem(32);
      padding: toRem(24) toRem(28);
    }
  }
}

.suggestion-icon {
  width: toRem(24);
  height: toRem(24);
  flex-shrink: 0;

  @media screen and (min-width: $two-xl) {
    width: toRem(32);
    height: toRem(32);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.suggestion-title {
  font-size: toRem(18);
  font-weight: 500;
  line-height: toRem(18);
  color: var(--main-blue);
  margin-bottom: toRem(8);
  border-radius: toRem(4);

  @supports (width: fit-content) {
    width: fit-content;
  }

  @media screen and (min-width: $two-xl) {
    font-size: toRem(22);
    line-height: toRem(32);
    margin-bottom: toRem(1);
  }
}

.suggestion-details {
  font-size: toRem(14);
  font-weight: 500;
  line-height: toRem(18);
  color: #868686;
  border-radius: toRem(4);

  @media screen and (min-width: $two-xl) {
    font-size: toRem(18);
    line-height: toRem(32);
  }
}

.more-btn {
  @include centered();
  gap: toRem(6);
  background-color: #0000;
  border: none;
  font-size: toRem(18);
  font-weight: 500;
  line-height: toRem(22);
  color: #474343;
  padding: toRem(12) toRem(24);

  @media screen and (min-width: $md) {
    padding: toRem(20) toRem(24);
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(22);
    line-height: toRem(32);
    gap: toRem(8);
    padding: toRem(24) toRem(28);
  }

  .icon {
    width: toRem(24);
    height: toRem(24);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.no-result {
  @include column-centered();
  width: 100%;
  gap: toRem(24);
  padding: toRem(24);

  @media screen and (min-width: $lg) {
    padding: toRem(32);
  }
}

.no-result__tile {
  font-size: toRem(18);
  font-weight: 500;
  line-height: 1;
  color: #333;

  @media screen and (min-width: $lg) {
    font-size: toRem(24);
    line-height: 1.33;
  }
}

.no-result__msg {
  font-size: toRem(14);
  line-height: 1.29;
  text-align: center;
  color: #474343;

  @media screen and (min-width: $lg) {
    font-size: toRem(18);
    line-height: 1;
  }
}
