@import "../shared/shared";

main {
  @include column-centered-start();
  width: 100%;
  gap: toRem(40);
  padding: toRem(40) toRem(16);

  @media screen and (min-width: $lg) {
    padding: toRem(72) toRem(64);
  }
  @media screen and (min-width: $xl) {
    width: calc(100% - toRem(403));
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(79) toRem(96);
  }
  @media screen and (min-width: $three-xl) {
    width: calc(100% - toRem(592));
  }
}

.current-weather__condition {
  @include column-centered();
  gap: toRem(8);

  @media screen and (min-width: $xl) {
    display: none;
  }
}

.current-weather__icon-cover {
  width: toRem(134);
  height: toRem(134);

  img {
    width: 100%;
    height: 100%;
  }
}

.current-weather__temp {
  font-size: toRem(72);
  font-weight: 500;
  line-height: 0.89;
  color: #474343;
}

.current-weather__desc {
  font-size: toRem(18);
  font-weight: 500;
  line-height: 1.33;
  color: #474343;
}

.weather-forecast__container {
  width: 100%;
}

.weather-forecast__header {
  @include between-centered();
  width: 100%;
  gap: toRem(24);
  margin-bottom: toRem(40);

  @media screen and (min-width: $md) {
    margin-bottom: toRem(44);
  }
  @media screen and (min-width: $two-xl) {
    margin-bottom: toRem(56);
  }
}

.weather-forecast__desc {
  font-size: toRem(18);
  font-weight: bold;
  line-height: 1.33;
  color: #474343;

  @media screen and (min-width: $md) {
    font-size: toRem(28);
    line-height: 1;
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(32);
  }
}

.dropdown {
  @media screen and (min-width: $md) {
    font-size: toRem(24);
    line-height: 1;
  }
}

.weather-forecast__dropdown {
  @include centered();
  position: relative;
  gap: toRem(8);
  background-color: #0000;
  border: none;

  &.active {
    .dropdown-menu {
      @include column-flex();
    }
  }

  .dropddown__icon {
    width: toRem(24);
    height: toRem(24);

    @media screen and (min-width: $md) {
      width: toRem(32);
      height: toRem(32);
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.dropdown-menu {
  display: none;
  gap: toRem(6);
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  background-color: #ebebeb;
  border-radius: toRem(6);
  box-shadow: 0.5px 0.5px 7px var(--grey-80);
  padding: toRem(8);
  margin-top: toRem(8);
  opacity: 0;
  transition: opacity 0.3s ease-out;

  @media screen and (min-width: $md) {
    gap: toRem(12);
    padding: toRem(24) toRem(18);
    margin-top: toRem(16);
  }
}

.dropdown-item {
  @include between-centered();
  gap: toRem(22);
  font-size: toRem(12);
  font-weight: 500;
  line-height: toRem(24);
  color: #333333;

  @media screen and (min-width: $md) {
    font-size: toRem(18);
    line-height: toRem(24);
  }

  &.active {
    color: var(--main-blue);

    .checkmark {
      opacity: 1;
    }
  }

  .checkmark {
    display: flex;
    width: toRem(10);
    opacity: 0;

    @media screen and (min-width: $md) {
      width: toRem(15);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.weather-forecast__list {
  @include column-centered();
  gap: toRem(24);
  list-style: none;
  width: 100%;

  @media screen and (min-width: $md) {
    gap: toRem(40);
  }
}

.weather-forecast {
  @include column-between();
  position: relative;
  overflow: hidden;
  width: 100%;
  height: toRem(84);
  gap: toRem(24);
  border-radius: toRem(12);
  background-color: hsl(0, 0%, 92%);
  padding: 0 toRem(12);
  transition: height 0.3s ease-out;

  @media screen and (min-width: $md) {
    height: toRem(100);
    padding: 0 toRem(26);
  }
  @media screen and (min-width: $two-xl) {
    height: toRem(120);
    gap: toRem(32);
    padding: 0 toRem(56);
  }

  // &.opened {
  //   height: toRem(636);

  //   @media screen and (min-width: $md) {
  //     height: toRem(454);
  //   }
  //   @media screen and (min-width: $two-xl) {
  //     height: toRem(466);
  //   }
  // }
}

.summary {
  @include between-centered();
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  background-color: #ebebeb;
  padding: toRem(24) 0;

  @media screen and (min-width: $md) {
    padding: toRem(18) 0;
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(32);
    padding: toRem(24) 0;
  }
}

.time-date {
  @include column-between-centered();

  .time {
    font-size: toRem(16);
    font-weight: bold;
    line-height: 1.13;
    color: #333;

    @media screen and (min-width: $md) {
      font-size: toRem(20);
      line-height: 1.6;
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(24);
      line-height: 1.33;
    }
  }

  .date {
    font-size: toRem(14);
    font-weight: bold;
    line-height: 1.29;
    color: #5f5f5f;

    @media screen and (min-width: $md) {
      font-size: toRem(18);
      line-height: 1.78;
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(20);
      line-height: 1.6;
    }
  }
}

.weather-condition {
  @include between-centered();
  width: 100%;
  gap: toRem(15);
  margin-left: toRem(12);
  margin-right: toRem(8);

  @media screen and (min-width: $md) {
    margin-left: toRem(32);
  }
  @media screen and (min-width: $two-xl) {
    margin-left: toRem(56);
    margin-right: toRem(18);
  }
}

.weather-temp__container {
  @include between-centered();
  gap: toRem(8);

  @media screen and (min-width: $md) {
    gap: toRem(24);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(18);
  }
}

.weather-temp__icon {
  width: toRem(35);
  height: toRem(35);

  @media screen and (min-width: $md) {
    width: toRem(56);
    height: toRem(56);
  }
  @media screen and (min-width: $two-xl) {
    width: toRem(72);
    height: toRem(72);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.weather-temp {
  font-size: toRem(24);
  font-weight: 500;
  line-height: 1;
  color: #333;

  @media screen and (min-width: $md) {
    font-size: toRem(48);
    line-height: 1;
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(64);
    line-height: 0.88;
  }
}

.apparent {
  font-size: toRem(14);
  font-weight: 500;
  line-height: 1.29;
  color: #333;

  @media screen and (min-width: $md) {
    font-size: toRem(20);
    line-height: 1.6;
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(24);
    line-height: 1.33;
  }
}

.humidity {
  @include centered();
  gap: toRem(4);

  @media screen and (min-width: $md) {
    gap: toRem(6);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(8);
  }
}

.humidity-icon {
  width: toRem(16);
  height: toRem(16);

  @media screen and (min-width: $md) {
    width: toRem(24);
    height: toRem(24);
  }
  @media screen and (min-width: $two-xl) {
    width: toRem(32);
    height: toRem(32);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.humidity-value {
  font-size: toRem(14);
  font-weight: 500;
  line-height: 1;
  color: #333;

  @media screen and (min-width: $md) {
    font-size: toRem(20);
    line-height: 1.2;
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(24);
    line-height: 1.33;
  }
}

.weather-condition__dropddown-icon {
  display: flex;
  width: toRem(12);
  height: toRem(12);

  @media screen and (min-width: $md) {
    width: toRem(18);
    height: toRem(18);
  }
  @media screen and (min-width: $two-xl) {
    width: toRem(24);
    height: toRem(24);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.details {
  @include column-centered();
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  // opacity: 0;
  gap: toRem(24);
  padding: toRem(24) toRem(12);

  @media screen and (min-width: $md) {
    gap: toRem(40);
    padding: toRem(18) toRem(26);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(56);

    padding: toRem(24) toRem(56);
  }
}

.details-weather__desc {
  width: 100%;
  font-size: toRem(18);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #333;

  @media screen and (min-width: $md) {
    font-size: toRem(24);
    line-height: 1.33;
    text-align: left;
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(32);
    font-weight: 500;
    line-height: 1;
  }
}

.full-weather__forecast-list {
  @include column-centered();
  list-style: none;
  width: 100%;
  gap: toRem(18);

  @media screen and (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(18) toRem(42);
  }
}

.full-weather__forecast-item {
  @include between-centered();
  width: 100%;
  padding: 0 0 toRem(12);
  border-bottom: toRem(1) solid rgba(117, 117, 117, 0.5);

  @media screen and (min-width: $md) {
    width: calc(50% - toRem(9));
    padding: 0 0 toRem(18);
  }
  @media screen and (min-width: $two-xl) {
    width: calc(50% - toRem(21));
  }
}

.weather-forecast__title,
.weather-forecast__value {
  font-size: toRem(16);
  font-weight: 500;
  line-height: 2;
  color: #333;

  @media screen and (min-width: $md) {
    font-size: toRem(18);
    line-height: 1.78;
  }
  @media screen and (min-width: $two-xl) {
    line-height: 1.33;
  }
}

.weather-forecast__value {
  font-weight: bold;
}
