<main>
  <!-- main content -->

  <section class="current-weather__condition">
    <div class="current-weather__icon-cover">
      <img
        width="134"
        height="134"
        src="../../assets/icons/white/thunderstorm.svg"
        alt
      />
    </div>

    <h1 class="current-weather__temp">20°C</h1>
    <p class="current-weather__desc">Thunderstorms</p>
  </section>

  <section class="weather-forecast__container">
    <header class="weather-forecast__header">
      <h2 class="weather-forecast__desc">Overview</h2>

      <button class="weather-forecast__dropdown">
        <span class="weather-forecast__desc dropdown">Hourly</span>

        <div class="dropddown__icon">
          <img
            width="24"
            height="24"
            src="../../assets/icons/dropdown.svg"
            alt
          />
        </div>

        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <span>Hourly</span>
            <span class="checkmark">
              <img
                width="8"
                height="6"
                src="../../assets/icons/checkmark.svg"
                alt
              />
            </span>
          </li>

          <li class="dropdown-item active">
            <span>Daily</span>
            <div class="checkmark">
              <img
                width="8"
                height="6"
                src="../../assets/icons/checkmark.svg"
                alt
              />
            </div>
          </li>
        </ul>
      </button>
    </header>

    <ul class="weather-forecast__list">
      <li class="weather-forecast">
        <div class="summary">
          <div class="time-date">
            <div class="time">12:00</div>
            <div class="date">3/7</div>
          </div>

          <div class="weather-condition">
            <div class="weather-temp__container">
              <div class="weather-temp__icon">
                <img
                  width="134"
                  height="134"
                  src="../../assets/icons/white/thunderstorm.svg"
                  alt
                />
              </div>
              <div class="weather-temp">20°C</div>
            </div>

            <div class="apparent">app. 32°C</div>

            <div class="humidity">
              <div class="humidity-icon">
                <img
                  width="16"
                  height="16"
                  src="../../assets/icons/humidity.svg"
                  alt
                />
              </div>
              <div class="humidity-value">89%</div>
            </div>
          </div>

          <div class="weather-condition__dropddown-icon">
            <img
              width="24"
              height="24"
              src="../../assets/icons/dropdown.svg"
              alt
            />
          </div>
        </div>

        <div class="details">
          <h4 class="details-weather__desc">Heavy rain</h4>

          <ul class="full-weather__forecast-list">
            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>

            <li class="full-weather__forecast-item">
              <div class="weather-forecast__title">RealFeel Shade</div>
              <div class="weather-forecast__value">32°C</div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </section>

  <!-- side bar -->

  <app-side-bar></app-side-bar>
</main>
