<main>
  <!-- main content -->

  <section class="current-weather__condition">
    <div class="current-weather__icon-cover">
      <img
        width="134"
        height="134"
        src="../../assets/icons/white/thunderstorm.svg"
        alt
      />
    </div>

    <h1 class="current-weather__temp">20°C</h1>
    <p class="current-weather__desc">Thunderstorms</p>
  </section>

  <section class="weather-forecast__container">
    <header class="weather-forecast__header">
      <h2 class="weather-forecast__desc">Overview</h2>

      <button class="weather-forecast__dropdown">
        <span class="weather-forecast__desc dropdown">Hourly</span>

        <div class="dropddown__icon">
          <img
            width="24"
            height="24"
            src="../../assets/icons/dropdown.svg"
            alt
          />
        </div>

        <ul class="dropdown-menu">
          <li
            class="dropdown-item"
            routerLink="hourly"
            routerLinkActive="active"
            queryParamsHandling="merge"
          >
            <span>Hourly</span>
            <span class="checkmark">
              <img
                width="8"
                height="6"
                src="../../assets/icons/checkmark.svg"
                alt
              />
            </span>
          </li>

          <li
            class="dropdown-item"
            routerLink="daily"
            routerLinkActive="active"
            queryParamsHandling="merge"
          >
            <span>Daily</span>
            <div class="checkmark">
              <img
                width="8"
                height="6"
                src="../../assets/icons/checkmark.svg"
                alt
              />
            </div>
          </li>
        </ul>
      </button>
    </header>

    <router-outlet></router-outlet>
  </section>

  <!-- side bar -->

  <app-side-bar></app-side-bar>
</main>
