@import "../shared/shared";

main {
  @include column-centered-start();
  width: 100%;
  gap: toRem(40);
  padding: toRem(40) toRem(16);

  @media screen and (min-width: $lg) {
    padding: toRem(72) toRem(64);
  }
  @media screen and (min-width: $xl) {
    width: calc(100% - toRem(403));
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(79) toRem(96);
  }
  @media screen and (min-width: $three-xl) {
    width: calc(100% - toRem(592));
  }
}

.weather-forecast__container {
  width: 100%;
}

.weather-forecast__header {
  @include between-centered();
  width: 100%;
  gap: toRem(24);
  margin-bottom: toRem(40);

  @media screen and (min-width: $md) {
    margin-bottom: toRem(44);
  }
  @media screen and (min-width: $two-xl) {
    margin-bottom: toRem(56);
  }
}

.weather-forecast__desc {
  font-size: toRem(18);
  font-weight: bold;
  line-height: 1.33;
  color: #474343;

  @media screen and (min-width: $md) {
    font-size: toRem(28);
    line-height: 1;
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(32);
  }
}

.dropdown {
  @media screen and (min-width: $md) {
    font-size: toRem(24);
    line-height: 1;
  }
}

.weather-forecast__dropdown {
  @include centered();
  position: relative;
  gap: toRem(8);
  background-color: #0000;
  border: none;

  &.active {
    // .dropddown__icon {
    //   transform: rotateZ(180deg);
    // }

    .dropdown-menu {
      @include column-flex();
    }
  }

  .dropddown__icon {
    width: toRem(24);
    height: toRem(24);
    transition: transform 0.3s ease-out;

    @media screen and (min-width: $md) {
      width: toRem(32);
      height: toRem(32);
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.dropdown-menu {
  display: none;
  gap: toRem(6);
  list-style: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  background-color: #ebebeb;
  border-radius: toRem(6);
  box-shadow: 0.5px 0.5px 7px var(--grey-80);
  padding: toRem(8);
  margin-top: toRem(8);
  opacity: 0;
  transition: opacity 0.3s ease-out;

  @media screen and (min-width: $md) {
    gap: toRem(12);
    padding: toRem(24) toRem(18);
    margin-top: toRem(16);
  }
}

.dropdown-item {
  @include between-centered();
  gap: toRem(22);
  font-size: toRem(12);
  font-weight: 500;
  line-height: toRem(24);
  color: #333333;
  cursor: pointer;

  @media screen and (min-width: $md) {
    font-size: toRem(18);
    line-height: toRem(24);
  }

  &.active {
    color: var(--main-blue);

    .checkmark {
      opacity: 1;
    }
  }

  .checkmark {
    display: flex;
    width: toRem(10);
    opacity: 0;

    @media screen and (min-width: $md) {
      width: toRem(15);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
