<ul class="weather-forecast__list">
  <ng-container *ngIf="isLoading">
    <li
      class="weather-forecast skeleton index"
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
    >
      <div class="summary">
        <div class="time-date">
          <div class="time">12:00</div>
          <div class="date">3/7</div>
        </div>

        <div class="weather-temp__container">
          <div class="weather-temp__icon">
            <img
              width="40"
              height="40"
              src="../../assets/icons/white/thunderstorm.svg"
              alt
            />
          </div>
          <div class="weather-temp">20°C</div>
        </div>

        <div class="humidity">
          <div class="humidity-icon">
            <img
              width="16"
              height="16"
              src="../../assets/icons/humidity.svg"
              alt
            />
          </div>
          <div class="humidity-value">89%</div>
        </div>

        <div class="weather-condition__dropddown-icon">
          <img
            width="32"
            height="32"
            src="../../assets/icons/dropdown.svg"
            alt
          />
        </div>
      </div>
    </li>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <li
      class="weather-forecast"
      *ngFor="let record of hourlyData; let i = index"
    >
      <div class="summary" (click)="toggle(i)">
        <div class="time-date" [title]="convertISOtoDate(record.time)">
          <div class="time">{{ convertTime(record.time) }}</div>
          <div class="date">{{ convertDate(record.time) }}</div>
        </div>

        <div class="weather-temp__container">
          <div class="weather-temp__icon">
            <img
              width="40"
              height="40"
              src="../../assets/icons/white/{{
                convertWMOtoImage(record.weathercode, record.day)
              }}.svg"
              alt
              [title]="convertWMOCodes(record.weathercode)"
            />
          </div>
          <div class="weather-temp" title="Approximate Temperature">
            {{ roundup(record.temperature_2m) }}
          </div>
        </div>

        <div class="humidity" title="Relative Humidity">
          <div class="humidity-icon">
            <img
              width="16"
              height="16"
              src="../../assets/icons/humidity.svg"
              alt
            />
          </div>
          <div class="humidity-value">
            {{ record.relativehumidity_2m
            }}{{ record.units?.relativehumidity_2m }}
          </div>
        </div>

        <div class="weather-condition__dropddown-icon">
          <img
            width="32"
            height="32"
            src="../../assets/icons/dropdown.svg"
            alt
          />
        </div>
      </div>

      <div class="details">
        <h4 class="details-weather__desc">
          {{ convertWMOCodes(record.weathercode) }}
        </h4>

        <ul class="full-weather__forecast-list">
          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Temperature</div>
            <div class="weather-forecast__value">
              {{ record.temperature_2m }}{{ record.units?.temperature_2m }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Apparent Temperature</div>
            <div class="weather-forecast__value">
              {{ record.apparent_temperature
              }}{{ record.units?.apparent_temperature }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Relative Humidity</div>
            <div class="weather-forecast__value">
              {{ record.relativehumidity_2m
              }}{{ record.units?.relativehumidity_2m }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Cloud Coverage</div>
            <div class="weather-forecast__value">
              {{ record.cloudcover }}{{ record.units?.cloudcover }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Dew Point</div>
            <div class="weather-forecast__value">
              {{ record.dewpoint_2m }}{{ record.units?.dewpoint_2m }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Wind Speed</div>
            <div class="weather-forecast__value">
              {{ record.windspeed_10m }}{{ record.units?.windspeed_10m }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Wind Deirection</div>
            <div class="weather-forecast__value">
              {{ record.winddirection_10m
              }}{{ record.units?.winddirection_10m }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Wind Gusts</div>
            <div class="weather-forecast__value">
              {{ record.windgusts_10m }}{{ record.units?.windgusts_10m }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Surface Pressure</div>
            <div class="weather-forecast__value">
              {{ record.surface_pressure }}{{ record.units?.surface_pressure }}
            </div>
          </li>

          <li class="full-weather__forecast-item">
            <div class="weather-forecast__title">Surface Pressure</div>
            <div class="weather-forecast__value">
              {{ record.direct_radiation }}{{ record.units?.direct_radiation }}
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ng-container>
</ul>
