<ng-container *ngIf="isLoading">
  <section class="current-weather__condition skeleton">
    <div class="current-weather__icon-cover">
      <img
        width="134"
        height="134"
        src="../../assets/icons/white/thunderstorm.svg"
        alt
      />
    </div>

    <h1 class="current-weather__temp skeleton">20°C</h1>
    <p class="current-weather__desc skeleton">Thunderstorms</p>
  </section>
</ng-container>

<ng-container *ngIf="!isLoading">
  <section class="current-weather__condition">
    <div class="current-weather__icon-cover">
      <img
        width="134"
        height="134"
        src="../../assets/icons/white/thunderstorm.svg"
        alt
      />
    </div>

    <h1 class="current-weather__temp">20°C</h1>
    <p class="current-weather__desc">Thunderstorms</p>
  </section>
</ng-container>

<!-- side bar -->
<aside>
  <section class="weather-details__container">
    <div class="location-time">
      <div class="location">Lagos, Nigeria</div>

      <div class="time">01:24</div>
    </div>

    <div class="weather-details">
      <div class="weather-deatils__icon">
        <img
          width="72"
          height="72"
          src="../../assets/icons/blue/thunderstorm.svg"
          alt
        />
      </div>

      <div class="weather-details__desc">
        <div class="weather-details__value">20°C</div>
        <div class="weather-details__name">Thunderstorm</div>
      </div>
    </div>
  </section>

  <section class="sun-detaials__container">
    <h3 class="title">Sunrise & Sunset</h3>

    <ul class="sun-details__list">
      <li class="sun-details">
        <div class="sun-details__icon">
          <img
            width="32"
            height="32"
            src="../../assets/icons/white/sunny.svg"
            alt=""
          />
        </div>

        <div class="sun-details__content">
          <div class="title-time">
            <div class="title">Sunrise</div>
            <div class="time">4:20 AM</div>
          </div>

          <div class="time-up">in 3 hours</div>
        </div>
      </li>

      <li class="sun-details">
        <div class="sun-details__icon">
          <img src="../../assets/icons/white/sunny.svg" alt="" />
        </div>

        <div class="sun-details__content">
          <div class="title-time">
            <div class="title">Sunrise</div>
            <div class="time">4:20 AM</div>
          </div>

          <div class="time-up">in 3 hours</div>
        </div>
      </li>
    </ul>
  </section>
</aside>
