<ng-container *ngIf="isLoading">
  <!-- overview -->
  <section class="current-weather__condition">
    <div class="current-weather__icon-cover skeleton">
      <img
        width="134"
        height="134"
        src="../../assets/icons/white/thunderstorm.svg"
        alt
      />
    </div>

    <h1 class="current-weather__temp skeleton">20°C</h1>
    <p class="current-weather__desc skeleton">Slight/Moderate Thunderstorm</p>
  </section>
</ng-container>

<ng-container *ngIf="!isLoading">
  <section class="current-weather__condition">
    <div class="current-weather__icon-cover">
      <img
        width="134"
        height="134"
        src="../../assets/icons/white/{{
          convertWMOtoImage(data.current_weather.weathercode, data.day)
        }}.svg"
        alt
        [title]="convertWMOCodes(data.current_weather.weathercode)"
      />
    </div>

    <h1 class="current-weather__temp">
      {{ roundup(data.current_weather.temperature) }}
    </h1>
    <p class="current-weather__desc">
      {{ convertWMOCodes(data.current_weather.weathercode) }}
    </p>
  </section>
</ng-container>

<!-- side bar -->
<aside>
  <section *ngIf="isLoading" class="weather-details__container">
    <div class="location-time">
      <div class="location skeleton">Lagos, Nigeria</div>

      <div class="time skeleton">01:24</div>
    </div>

    <div class="weather-details">
      <div class="weather-deatils__icon skeleton">
        <img
          width="72"
          height="72"
          src="../../assets/icons/blue/thunderstorm.svg"
          alt
        />
      </div>

      <div class="weather-details__desc">
        <div class="weather-details__value skeleton">20°C</div>
        <div class="weather-details__name skeleton">Thunderstorm</div>
      </div>
    </div>
  </section>

  <section *ngIf="!isLoading" class="weather-details__container">
    <div class="location-time">
      <div class="location">{{ location }}</div>

      <div class="time">{{ time }}</div>
    </div>

    <div class="weather-details">
      <div class="weather-deatils__icon">
        <img
          width="72"
          height="72"
          src="../../assets/icons/blue/{{
            convertWMOtoImage(data.current_weather.weathercode, data.day)
          }}.svg"
          alt
          [title]="convertWMOCodes(data.current_weather.weathercode)"
        />
      </div>

      <div class="weather-details__desc">
        <div class="weather-details__value">
          {{ roundup(data.current_weather.temperature) }}
        </div>
        <div class="weather-details__name">
          {{ convertWMOCodes(data.current_weather.weathercode) }}
        </div>
      </div>
    </div>
  </section>

  <section class="sun-detaials__container">
    <h3 class="title">Sunrise & Sunset</h3>

    <ul class="sun-details__list">
      <ng-container *ngIf="isLoading">
        <li class="sun-details skeleton">
          <div class="sun-details__icon">
            <img
              width="32"
              height="32"
              src="../../assets/icons/white/sunny.svg"
              alt=""
            />
          </div>

          <div class="sun-details__content">
            <div class="title-time">
              <div class="title">Sunrise</div>
              <div class="time">4:20 AM</div>
            </div>

            <div class="time-up">in 3 hours</div>
          </div>
        </li>

        <li class="sun-details skeleton">
          <div class="sun-details__icon">
            <img src="../../assets/icons/white/sunny.svg" alt="" />
          </div>

          <div class="sun-details__content">
            <div class="title-time">
              <div class="title">Sunrise</div>
              <div class="time">4:20 AM</div>
            </div>

            <div class="time-up">in 3 hours</div>
          </div>
        </li>
      </ng-container>

      <ng-container *ngIf="!isLoading">
        <li class="sun-details">
          <div class="sun-details__icon">
            <img
              width="32"
              height="32"
              src="../../assets/icons/white/sunny.svg"
              alt=""
            />
          </div>

          <div class="sun-details__content">
            <div class="title-time">
              <div class="title">Sunrise</div>
              <div class="time">
                {{ convertTime(data.daily[0].sunrise, true).toUpperCase() }}
              </div>
            </div>

            <div class="time-up">
              {{
                getRemainingHours(data.current_weather.time, data.daily).sunrise
              }}
            </div>
          </div>
        </li>

        <li class="sun-details">
          <div class="sun-details__icon">
            <img
              width="32"
              height="32"
              src="../../assets/icons/white/night.svg"
              alt=""
            />
          </div>

          <div class="sun-details__content">
            <div class="title-time">
              <div class="title">Sunset</div>
              <div class="time">
                {{ convertTime(data.daily[0].sunset, true).toUpperCase() }}
              </div>
            </div>

            <div class="time-up">
              {{
                getRemainingHours(data.current_weather.time, data.daily).sunset
              }}
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </section>
</aside>
