<h1 class="title">Featured city</h1>

<section>
  <div
    class="featured-list__container"
    slider
    [pagination]="pagination"
    [gap]="16"
    [maxWidth]="768"
  >
    <ul class="featured-list" #slideWrapper>
      <li class="featured">
        <div class="featured-img__container">
          <img ngSrc="../../assets/featured/lagos.png" fill alt />
        </div>

        <h3 class="title">Lagos</h3>
      </li>

      <li class="featured">
        <div class="featured-img__container">
          <img ngSrc="../../assets/featured/abuja.png" fill alt />
        </div>

        <h3 class="title">Abuja</h3>
      </li>

      <li class="featured">
        <div class="featured-img__container">
          <img ngSrc="../../assets/featured/akwa-ibom.png" fill alt />
        </div>

        <h3 class="title">Akwa ibom</h3>
      </li>
    </ul>
  </div>

  <ul class="pagination-list" #pagination>
    <!-- <li class="pagination active"></li>
    <li class="pagination"></li> -->
  </ul>
</section>

<section class="second-sect">
  <div class="first-row">
    <h1 class="location">Lagos</h1>

    <button class="more">More details</button>
  </div>

  <div class="second-row">
    <ul class="forecast-list">
      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>

      <li class="forecast">
        <div class="degree">20°C</div>
        <div class="weather-img__container">
          <img
            width="24"
            height="24"
            ngSrc="../../assets/icons/sunny.svg"
            alt
            priority
          />
        </div>
        <div class="time">01.00</div>
      </li>
    </ul>
  </div>
</section>
